h1{
    color:red;
    background-image: url("D:\girl.jpg")
}

.f1{
background-color: brown;
}
p
{
    
    color:lightblue;
    font-weight: inherit;
    font-style: italic;
}
body {
    background-color: lightblue;
}