<arryOfObj></arryOfObj>
<!--<student></student>-->

<!--<rectangle></rectangle>-->
<!--The content below is only a placeholder and can be replaced.-->

<!--<p class="f1">
  {{name |titlecase}}
</p>

<p class="f1">
  add: {{a+b |currency:"CAD":"symbol-narrow"}}
</p>
<p class="f1">
  sub: {{a-b}}
</p>
<p class="f1">
  mul: {{a*b}}
</p>
<p class="f1">
 mod: {{a%b}}
</p>
<p class="f1">
  func: {{add()}}
 </p>
 <p class="f1">
  func: {{fact(5)}}
 </p>
 <p class="f1">
  fd:{{c |number:'6.5-6'}}
</p>
<p class="f1">
  fd:{{d|date:'mmss'}}
</p>

<div *ngIf="name=='ram'"> welcome raj</div>
<div *ngIf="name=='raj'"> welcome raju</div>
<div *ngFor ="let value of arr|slice:0:6">{{value}}</div>

{{namee|slice:2:4}}

<input type="button"(click)=" func()" value="click me"/>
<input type="button"(mouseover)=" func1()" value="click new"/>
keDown:<input type="text" (keydown)="func3($event)"/>
<div *ngFor ="let value of employee">
{{value.ename}}
{{value.eid}}
{{value.bpay}}
</div>
<div *ngFor ="let value of employee">

{{value|json}}</div>
<h1  (mousemover)="myFunc($event)">over me</h1>
 
  <div *ngFor ="let person of pep;let i=index">
  {{i+1}}=> {{person.ename}}&nbsp; &nbsp; {{person.bpay}}
</div>-->




