<!DOCTYPE html>
<html>
<head>
	
	<script src="js/angular.min.js" ></script>
	<script>
		var app=angular.module("myApp",[]);
		app.controller("myCtrl",function($scope){
 
 			$scope.marks=[{a:10,b:20,c:30},{a:34,b:23,c:30}];
		});
	</script>
</head>
<body ng-App="myApp" ng-controller="myCtrl" ng-init="name='Ram'">
	<!--<input type="text" ng-model="age"/>
		{{display()}}-->
		<table>
			<tr>
				<th> A:
				</th>
				<th> B:
				</th>
				<th> C:
				</th>
  <tr ng-repeat="mark in marks">
		<td>{{mark.a}}</td>
		<td>{{mark.b}}</td>
		<td>{{mark.c}}</td>
	</tr>
</table>
		<!--{{marks[0]}}-->
	</div>
</body>
</html>